      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <tabset class="nav-tabs-custom" [justified]="true">
                <tab heading="Notification">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox"> Turn on notification
                        </label>
                    </div>
                </tab>
                <tab heading="Language">

                    <div class="form-group">
                        <div class="radio">
                            <label>
                            <input type="radio" name="language" value="japanese" checked="">
                            Japanese
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                            <input type="radio" name="language" value="english">
                            English
                            </label>
                        </div>
                    </div>

                </tab>
            </tabset>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->