/*.chatwindow.panel {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-bottom: 0;
}

.chatwindow.panel > .panel-heading {
  flex: 0 1 auto;
}

.chatwindow.panel > .panel-body  {
  flex: 1 1 auto;
  overflow-y: auto;
}

.chatwindow.panel > .panel-footer {
  flex: 0 1 auto;
}*/

.box-body.chat {
  overflow-y: auto;
}

chat-message {
  overflow:auto; 
}