<!--<div class="chatwindow panel panel-default">

    <div class="panel-heading top-bar">
        <div class="panel-title-container">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-comment"></span>
            Chat - {{currentThread.name}}
        </h3>
        </div>
    </div>

    <div class="panel-body msg-container-base">
        <chat-message
            *ngFor="let message of messages | async; let i=index"
            [message]="message"
            (updateLastAuthor)="updateLastAuthor($event)"
            [lastAuthor]="lastAuthor"
            [index]="i"
            >
        </chat-message>
    </div>

    <div class="panel-footer">


        <nav class="navbar navbar-default">
        <div class="container-fluid">
            
            <form class="navbar-form navbar-right">
                <div class="checkbox">
                    <label>
                    <input [(ngModel)]="isPressEnter" type="checkbox"> Press Enter to send
                    </label>
                </div>
                <button type="submit" class="btn btn-default" (click)="onEnter($event)">Send</button>
            </form>
        </div>
        </nav>

        <textarea class="form-control" rows="5"
                    placeholder="Write your message here..." 
                    (keydown.enter)="onEnter($event)"
                    (keydown.control.Enter)="onEnter($event)"
                    [(ngModel)]="draftMessage.text">
        </textarea>

    </div>

</div>-->

<!-- Chat box -->
<div class="box box-success">
<div class="box-header">
    <i class="fa fa-comments-o"></i>

    <h3 class="box-title">Chat</h3>

    <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
    <div class="btn-group" data-toggle="btn-toggle">
        <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
    </div>
    </div>
</div>
<div class="box-body chat" id="chat-box">
    <chat-message
        *ngFor="let message of messages | async; let i=index"
        [message]="message"
        (updateLastAuthor)="updateLastAuthor($event)"
        [lastAuthor]="lastAuthor"
        [index]="i"
        >
    </chat-message>
</div>
<!-- /.chat -->
<div class="box-footer">
    <div class="input-group">
    <input class="form-control" placeholder="Type message...">

    <div class="input-group-btn">
        <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
    </div>
    </div>
</div>
</div>
<!-- /.box (chat box) -->