<div class="box box-success">
<div class="box-header">
    <i class="fa fa-comments-o"></i>

    <h3 class="box-title">Chat</h3>
</div>

<div class="box-body chat" id="chat-box">
    <list-message [messages]="messages | async"></list-message>
</div>

<div class="box-footer">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-right" ngNoForm>
            <div class="checkbox">
                <label>
                <input [(ngModel)]="isPressEnter" type="checkbox"> Press Enter to send
                </label>
            </div>
            <button type="submit" class="btn btn-default" (click)="onClickSend($event)">Send</button>
        </form>
    </div>
    </nav>

    <textarea class="form-control" rows="5"
                placeholder="Write your message here..." 
                (keydown.enter)="onEnter($event)"
                (keydown.control.Enter)="onEnter($event)"
                [(ngModel)]="draftMessage.text">
    </textarea>
</div>
</div>