<!--<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat Threads <span class="badge">{{ unreadMessagesCount }}</span></h3>
  </div>
  <ul class="list-group">
      <chat-thread *ngFor="let thread of threads | async" [thread]="thread"></chat-thread>
  </ul>
</div>-->


<ul class="sidebar-menu">
  <li class="header">{{textService.get('friends')}}
    <small *ngIf="unreadMessagesCount > 0" class="label pull-right bg-red">{{unreadMessagesCount}}</small>
  </li>
  <chat-thread *ngFor="let thread of threads | async" [thread]="thread"></chat-thread>
</ul>