/*.panel {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-bottom: 0;
}

.panel .panel-heading {
  flex: 0 1 auto;
}

.panel .panel-body  {
  flex: 1 1 auto;
}

.panel .panel-footer {
  flex: 0 1 auto;
}*/